* {
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header {
  margin: 20px;
  width: 80%;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 15px;
  width: 90%;
  max-width: 800px;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  background-color: grey;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  border: 2px solid black;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.back {
  border-radius: 10px;
  background: url("../assets/back.png");
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}