*{
    font-family: 'Press Start 2P', cursive;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: url('../assets/bg.jpg');
    max-height: 450px;
    padding: 20px;
    padding-bottom: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    width: 45%;
    max-width: 800px;
}

@media screen and (max-width: 950px){
    main{
        width: 90%;
    }
}

.card{
    aspect-ratio: 3/4;
    width: 80%;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border: 2px solid black;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
}

.front{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.back{
    border-radius: 10px;
    background: url('../assets/back.png');
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}

.alert{
    width: 50%;
    height: 50%;
    background-color: black;
    color: wheat;
    position: absolute;
    z-index: 3;
}